.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 30px;
  background-color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  font-family: 'Playfair Display', serif;
}

body {
  background-attachment: fixed;
}

.opening {
  font-family: 'Playfair Display', serif;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.bar {
  display: flex;
  width: 750px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.theme {
  display: inline-flex;
  justify-content: center;
  width: 40%;
  height: 0.01vh;
  align-items: center;
  border: 0.5px solid rgb(0, 163, 108);
  padding: 5px 10px; /* Adjust padding as needed for spacing around the text */
  margin: auto; /* Center the element horizontally */
}

.matinButton {
  background: rgb(173, 216, 230);
  color: rgb(255, 228, 196);
}

.matinButton:hover {
  background: rgb(255, 255, 224);
  color: rgb(135, 206, 235);
}

.midiButton {
  background: rgb(135, 206, 235);
  color: rgb(255, 255, 224);
}

.midiButton:hover {
  background: rgb(255, 228, 196);
  color: rgb(173, 216, 230);
}

.soirButton {
  background: rgb(25, 25, 112);
  color: white;
}

.soirButton:hover {
  background: white;
  color: rgb(25, 25, 112);
}

.theme {
  display: flex; /* Ensures buttons are lined up horizontally */
  justify-content: center; /* Centers buttons */
  align-items: center;
  gap: 10px; /* Adds space between buttons */
  padding: 0;
  margin: 0;
}

.theme button {
  border: 1px solid rgb(0, 163, 108);
  border-right: none; /* Remove right border for all buttons except the last one */
  border-radius: 5px 0 0 5px; /* Rounded corners on left side */
  width: 100px;
  height: 25px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  display: inline-block; /* Ensures buttons are in a line */
  margin: 0; /* Removes any default margin */
}

/* Wrapper style */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.services {
  border: 4px solid rgb(0, 163, 108);
}

.discounts {
  position: relative;
  border: 4px solid rgb(112, 41, 99);
  height: 80px;
  width: 80px;
  padding: 5px;
  background-color: rgb(210, 43, 43); /* Assuming a paper-like color */
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3); /* Adds depth */
  transform: rotate(-1deg); /* Slightly rotates the div for a more natural look */
  border-radius: 50%;
  overflow: hidden;
  animation: pulsate 3.5s infinite;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent; /* Hide original text */
}

.discounts::before {
  content: 'Click here!';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; /* Set the color for 'Click here' text */
  transition: opacity 0.5s ease;
  font-size: 14px; /* Adjust font size as needed */
}

.discounts:hover::before {
  opacity: 0; /* Hide 'Click here' on hover */
}

.discounts:hover {
  color: black; /* Show original text on hover */
}

.discounts:hover {
  width: 200px; /* Adjust based on your needs */
  height: 200px; /* Adjust based on your needs */
  border-radius: 0;
  animation: none;
}

.discounts h1, .discounts p, .discounts button {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.discounts:hover h1, .discounts:hover p, .discounts:hover button {
  opacity: 1;
}

.main {
  font-size: 0.8rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 70vh;
  width: 100%;
  /* margin-top: -150px;  */
;}

.text1 {
  font-family: 'Playfair Display', serif;
  border: 7px double white;
  background: rgba(250, 249, 246, 0.1); 
    backdrop-filter: blur(10px); 
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  font-weight: lighter;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  overflow: hidden;
  animation: pulsate 1.5s infinite;
  transition: all 0.5s ease;
  cursor: pointer; /* Optional: Changes the cursor on hover */
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.text1:hover {
  width: auto; /* Adjust based on your needs */
  height: auto; /* Adjust based on your needs */
  border-radius: 0;
  animation: none;
}

.text1 h1, .text1 p, .text1 button {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.text1:hover h1, .text1:hover p, .text1:hover button {
  opacity: 1;
}

.section1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  border-bottom: 4px solid rgb(0, 163, 108);
}

.section2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  border-bottom: 4px solid rgb(0, 163, 108);
}

.section3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  border-bottom: 4px solid rgb(0, 163, 108);
}

.service-form {
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-form .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.service-form .form-group {
  flex: 1;
  margin-right: 10px;
}

.service-form .form-group:last-child {
  margin-right: 0;
}

.service-form label {
  display: block;
  margin-bottom: 5px;
}

.service-form input[type="text"],
.service-form input[type="email"],
.service-form input[type="tel"] {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.service-form h3 {
  margin-bottom: 10px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  width: 48%;
  margin-bottom: 10px;
}

.service-item input {
  margin-right: 5px;
}

.service-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
}

.service-form button:hover {
  background-color: #0056b3;
}

.text2 {
  font-family: 'avenir next', sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(250, 249, 246, 0.1); 
    backdrop-filter: blur(10px);
  height: 320px;
  width: 320px;
  padding: 20px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  overflow: hidden;
  animation: pulsate 1.5s infinite;
  transition: all 0.5s ease;
  cursor: pointer; /* Optional: Changes the cursor on hover */
  filter: blur(3px);
}

.text2:hover {
  width: auto; /* Adjust based on your needs */
  height: auto; /* Adjust based on your needs */
  border-radius: 0;
  animation: none;
  filter: none;
}

.text2 h1, .text2 p, .text2 button {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.text2:hover h1, .text2:hover p, .text2:hover button {
  opacity: 1;
}

.text3 {
  font-family: 'avenir next', sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(250, 249, 246, 0.1); 
    backdrop-filter: blur(10px);
  height: 320px;
  width: 320px;
  padding: 20px;
  /* border-radius: 50%;
  height: 80px;
  width: 80px; */
  /* overflow: hidden;
  animation: pulsate 1.5s infinite;
  transition: all 0.5s ease;
  cursor: pointer; Optional: Changes the cursor on hover */
}

.title1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid rgb(0, 163, 108);
  gap: 10px;
  background-image: url('/src/assets/bgabstract.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.serBut {
  background: rgb(0, 163, 108);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.bookbut {
  background: rgb(159, 226, 191);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cool {
  font-family: 'MonteCarlo', sans-serif;
}

.cool2 {
  font-family: 'Avenir Next', sans-serif;
}

.elegant {
  /* border: 1px solid rgb(0, 163, 108); */
  background: rgba(250, 249, 246, 0.1); 
    backdrop-filter: blur(10px);
  justify-items: center;
  font-family: 'MonteCarlo', sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* height: 0.01vh; */
  width: 100%;
  border-radius: 10px;
  /* margin-bottom: 100px; */
}

.smallTalk {
  /* border: 1px solid rgb(0, 163, 108); */
  background: rgba(250, 249, 246, 0.1); 
    backdrop-filter: blur(10px);
  justify-items: center;
  font-family: 'avenir next', sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* height: 0.01vh; */
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  /* margin-bottom: 100px; */
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.social img {
  height: 50px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;
  padding: 20px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('/src/assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('/src/assets/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/src/assets/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'MonteCarlo';
  src: url('/src/assets/fonts/MonteCarlo-Regular.ttf');
}