.navbar {
  font-family: 'Avenir Next', sans-serif;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 30px;
  background-color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  position: relative; /* Required for positioning the ::after pseudo-element */
  display: inline-block; /* Ensures the pseudo-element aligns correctly */
}

.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* Thickness of the underline */
  background-color: midnightblue; /* Color of the underline */
  bottom: -5px; /* Distance from the bottom of the element */
  left: 0;
  transition: width 0.3s ease; /* Smooth transition for the underline */
}

.nav-links li a:hover::after {
  width: 100%; /* Full width on hover */
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  font-family: 'Playfair Display', serif;
}

body {
  background-attachment: fixed;
}

.opening {
  font-family: 'Playfair Display', serif;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.bar {
  display: flex;
  width: 750px;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.theme {
  display: inline-flex;
  justify-content: center;
  width: 40%;
  height: 0.01vh;
  align-items: center;
  padding: 5px 10px; /* Adjust padding as needed for spacing around the text */
  margin: auto; /* Center the element horizontally */
  box-shadow: 
    0 0 5px #ffd700, /* Bright gold */
    0 0 10px #ffac33, /* Medium gold */
    0 0 15px #cc8f00, /* Dark gold */
    0 0 20px #ffd700, /* Bright gold */
    0 0 25px #ffac33, /* Medium gold */
    inset 0 0 5px #cc8f00, /* Inner shadow for depth */
    inset 0 0 10px #ffd700; /* Inner bright for shine */
  background-color: black; /* Optional: Background to enhance the gold effect */
  color: white; /* Optional: Text color */
}

.matinButton {
  background: rgb(173, 216, 230);
  color: rgb(255, 228, 196);
}

.matinButton:hover {
  background: rgb(255, 255, 224);
  color: rgb(135, 206, 235);
}

.midiButton {
  background: rgb(135, 206, 235);
  color: rgb(255, 255, 224);
}

.midiButton:hover {
  background: rgb(255, 228, 196);
  color: rgb(173, 216, 230);
}

.soirButton {
  background: rgb(25, 25, 112);
  color: white;
}

.soirButton:hover {
  background: white;
  color: rgb(25, 25, 112);
}

.theme {
  display: flex; /* Ensures buttons are lined up horizontally */
  justify-content: center; /* Centers buttons */
  align-items: center;
  gap: 10px; /* Adds space between buttons */
  padding: 0;
  margin: 0;
}

.theme button {
  border: 1px solid rgb(0, 163, 108);
  border-right: none; /* Remove right border for all buttons except the last one */
  border-radius: 5px 0 0 5px; /* Rounded corners on left side */
  width: 100px;
  height: 25px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  display: inline-block; /* Ensures buttons are in a line */
  margin: 0; /* Removes any default margin */
}

/* Wrapper style */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.wrapper3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  background-image: url('/src/assets/wall.jpeg');
  height: 80vh;
  width: 100%;
  padding: 0;
  margin-top: 5%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.scroll-container {
  display: flex;
  justify-content: flex-end;
  overflow-x: auto;
  width: 428%;
  padding: 20px;
  gap: 20px; /* Ensures space between images */
  scroll-behavior: auto; /* Optional: Enables smooth scrolling */
  align-items: center; /* Keeps images vertically aligned */
}

/* Styling for individual images within the scroller */
.scrolls {
  flex: 0 0 auto; /* Prevents images from stretching or shrinking */
  width: 250px; /* Fixed width for each image */
  height: 250px; /* Fixed height for each image */
  transition: transform 2.3s ease-in-out; /* Smooth transform transition */
  cursor: pointer;
}

.expanded {
  width: 500px; /* 50% of the viewport width */
  height: auto; /* Ensure it does not exceed the container's width */
  z-index: 10; /* Ensure the expanded image is above others */
  box-shadow: 10px 15px 10px rgba(0,0,0,0.8); /* Adds a shadow on the right side */
  border: 2px double white; /* Adds a border around the image */
  transform: scale(1.1); /* Scale the image up */
  transition: transform 1.3s ease-in-out; /* Smooth transform transition */
}

.services {
  border: 4px solid rgb(0, 163, 108);
}

.discounts {
  position: relative;
  border: 4px solid rgb(112, 41, 99);
  height: 80px;
  width: 80px;
  padding: 5px;
  background-color: rgb(210, 43, 43); /* Assuming a paper-like color */
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3); /* Adds depth */
  transform: rotate(-1deg); /* Slightly rotates the div for a more natural look */
  border-radius: 50%;
  overflow: hidden;
  animation: pulsate 3.5s infinite;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent; /* Hide original text */
}

.discounts::before {
  content: 'Click here!';
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black; /* Set the color for 'Click here' text */
  transition: opacity 0.5s ease;
  font-size: 14px; /* Adjust font size as needed */
}

.discounts:hover::before {
  opacity: 0; /* Hide 'Click here' on hover */
}

.discounts:hover {
  color: black; /* Show original text on hover */
}

.discounts:hover {
  width: 200px; /* Adjust based on your needs */
  height: 200px; /* Adjust based on your needs */
  border-radius: 0;
  animation: none;
}

.discounts h1, .discounts p, .discounts button {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.discounts:hover h1, .discounts:hover p, .discounts:hover button {
  opacity: 1;
}

.main {
  font-size: 0.8rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 70vh;
  width: 100%;
  /* margin-top: -150px;  */
;}

.text1 {
  font-family: 'Playfair Display', serif;
  border: 7px double white;
  background: rgba(250, 249, 246, 0.1); 
  backdrop-filter: blur(10px); 
  font-size: 1.1rem;
  font-weight: lighter;
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  overflow: hidden;
  animation: pulsate 1.5s infinite;
  transition: all 0.5s ease;
  cursor: pointer; /* Optional: Changes the cursor on hover */
  position: relative;
  z-index: 1;
}

.text1::before {
  content: '';
  position: absolute;
  top: -7px; /* Same as border width */
  left: -7px; /* Same as border width */
  right: -7px; /* Same as border width */
  bottom: -7px; /* Same as border width */
  background: url('/src/assets/goldborder.jpeg') no-repeat center;
  background-size: cover;
  border-radius: 50%;
  z-index: -1;
  transition: opacity 0.5s ease;
  opacity: 1;
  animation: none;
}

.text1:hover::before {
  opacity: 0;
}

@keyframes pulsate {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

.text1:hover {
  width: auto; /* Adjust based on your needs */
  height: auto; /* Adjust based on your needs */
  border-radius: 0;
  animation: none;
}

.text1 h1, .text1 p, .text1 button {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.text1:hover h1, .text1:hover p, .text1:hover button {
  opacity: 1;
}

.section1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  border-bottom: 4px solid rgb(0, 163, 108);
  /* border-image: url('/src/assets/goldborder.jpeg') 30 round; */
  border-image-repeat: center;

}

.section2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  border-bottom: 4px solid rgb(0, 163, 108);
  
}

.section3 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  background-attachment: fixed;
  border-bottom: 4px solid rgb(0, 163, 108);
}

.service-form {
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-form .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.service-form .form-group {
  flex: 1;
  margin-right: 10px;
}

.service-form .form-group:last-child {
  margin-right: 0;
}

.service-form label {
  display: block;
  margin-bottom: 5px;
}

.service-form input[type="text"],
.service-form input[type="email"],
.service-form input[type="tel"] {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.service-form h3 {
  margin-bottom: 10px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  width: 48%;
  margin-bottom: 10px;
}

.service-item input {
  margin-right: 5px;
}

.service-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
}

.service-form button:hover {
  background-color: #0056b3;
}

.text2 {
  font-family: 'avenir next', sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(250, 249, 246, 0.1);
  backdrop-filter: blur(10px);
  height: 20px;
  width: 20px;
  padding: 20px;
  border-radius: 50%;
  border: 2px double white;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer; /* Optional: Changes the cursor on hover */
  animation: pulsate 1.5s infinite;
  position: relative;
  z-index: 1;
}

.text2::before {
  content: '';
  position: absolute;
  top: -2px; /* Same as border width */
  left: -2px; /* Same as border width */
  right: -2px; /* Same as border width */
  bottom: -2px; /* Same as border width */
  background: url('/src/assets/goldborder.jpeg') no-repeat center;
  background-size: cover;
  border-radius: 50%;
  z-index: -1;
  transition: opacity 0.5s ease, background-image 0.5s ease;
  opacity: 1;
}

.text2:hover::before {
  opacity: 0;
}

/* Specific background images for each .text2 instance */
.text2:nth-of-type(1)::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: url('/src/assets/townhouse.jpeg') no-repeat center;
  background-size: cover;
  /* border-radius: 50%; */
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.text2:nth-of-type(2)::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: url('/src/assets/crosssection.jpeg') no-repeat center;
  background-size: cover;
  /* border-radius: 50%; */
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.text2:nth-of-type(3)::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: url('/src/assets/aerial.jpeg') no-repeat center;
  background-size: cover;
  /* border-radius: 50%; */
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.text2:hover::after {
  opacity: 1;
}

.text2:hover {
  width: 300px; /* Adjust based on your needs */
  height: 300px; /* Adjust based on your needs */
  border-radius: 0;
  filter: none;
}

.text2 h1, .text2 p, .text2 button {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.text2:hover h1, .text2:hover p, .text2:hover button {
  opacity: 1;
}


.text3 {
  font-family: 'avenir next', sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(250, 249, 246, 0.4); 
    backdrop-filter: blur(10px);
  height: 320px;
  width: 320px;
  padding: 20px;
  /* border-radius: 50%;
  height: 80px;
  width: 80px; */
  /* overflow: hidden;
  animation: pulsate 1.5s infinite;
  transition: all 0.5s ease;
  cursor: pointer; Optional: Changes the cursor on hover */
}

.title1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid rgb(0, 163, 108);
  gap: 10px;
  background-image: url('/src/assets/bgabstract.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.cta {
  display: flex;
  justify-content: space-around;
}

.cta2 {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.serBut {
  background: rgb(0, 163, 108);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.bookbut {
  background: rgb(159, 226, 191);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
}

.cool {
  font-family: 'MonteCarlo', sans-serif;
}

.cool2 {
  font-family: 'Avenir Next', sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
}

.elegant {
  /* border: 1px solid rgb(0, 163, 108); */
  background: rgba(250, 249, 246, 0.1); 
    backdrop-filter: blur(10px);
  justify-items: center;
  font-family: 'MonteCarlo', sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* height: 0.01vh; */
  width: 100%;
  border-radius: 10px;
  /* margin-bottom: 100px; */
}

.smallTalk {
  /* border: 1px solid rgb(0, 163, 108); */
  background: rgba(250, 249, 246, 0.1); 
    backdrop-filter: blur(10px);
  justify-items: center;
  font-family: 'avenir next', sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* height: 0.01vh; */
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  /* margin-bottom: 100px; */
}

.smallerTalk {
  font-size: 0.9rem;
  font-weight: lighter;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.social img {
  height: 50px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 30px;
  padding: 20px;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('/src/assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Merriweather';
  src: url('/src/assets/fonts/Merriweather-Regular.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/src/assets/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'MonteCarlo';
  src: url('/src/assets/fonts/MonteCarlo-Regular.ttf');
}